.top{
        	height: 100px;
        	background-color: #161616;
        }
        a{
        	color: white;
        	text-decoration: none;
        	margin-left: 195px;
        	padding-top: 40px;
        	padding-bottom: 40px;
        	font-size: 20px;
        }
 .df{
 	display: flex;
 }       
        .back{
    background-image: url(wall3.jpg);
    height: 2000px;
    background-size: 100% 100%;
   padding-left: 140px;
   padding-top: 50px;
}
h3{
	color: #bc1c1c;
	font-family: georgia;
}